:root {
    --color-1: #09AD8F;
    --color-2: #DFFFF9;
    --color-3: #19FAD1;
    --color-4: #AD3000;
    --color-5: #FA5719;
}

html {
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
    font-size: 62.5%;
}

body {
    margin: 0;
    height: 100%;

    background: var(--color-2);
}

#root {
    height: 100%;

    display: flex;
    flex-direction: column;
}

nav+div {
    flex-grow: 1;

    display: flex;
    justify-content: center;

    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.f {
    display: flex;
}

.f-c {
    flex-direction: column;
}

.f-ai-c {
    align-items: center;
}

.f-jc-s {
    justify-content: start;
}

form input {
    margin-bottom: 0.25rem;
}

form div {
    color: brown;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

form button {
    align-self: flex-end;
}