nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: var(--primary_2);
    color: white;

    margin: 0;
    height: 3rem;
}

li {
    font-size: 2rem;
    list-style: none;
}